[Desktop Entry]
Name=Papers
Exec=papers
Comment=LaTex editor
Icon=com.github.limads.Papers
Terminal=false
Type=Application
Categories=GTK
StartupNotify=true
MimeType=application/x-tex
